@inherits LayoutComponentBase

<div class="container">
    <table class="tableheader">

        <tr class="BrandingTopMenu">
            <div class="tablerowdiv wrapper"><Branding /><TopMenu /></div>
        </tr>

        <tr class="Body">
            <div class="tablerowdiv wrapper">
                <div><MenuControl /><LeftBar /></div>
                <div style="display:inline-flex; float:right;">
                    <div>@Body</div>
                    <div><RightBar /></div>
                </div>
            </div>
        </tr>

        <tr class="BottomLeftRight">
            <div class="tablerowdiv wrapper"><BottomLeft /><BottomRight /></div>
        </tr>

        <tr class="StatusBar"><div class="tablerowdiv"><StatusBar /></div></tr>
        <tr class="Footer"><div class="tablerowdiv"><Footer /></div></tr>
    </table>
</div>






<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
